* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.text_primary_color {
    color: #FD6E0A;
}
.btn-primary {
    background: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    border: none;
}

/* header and navigation start  */
.header {
    background: #FFF8F3;
    background-image: url(../images/background_image.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.nav_title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul {
    display: flex;
    align-items: center;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
}
/* header and navigation start  */
/* banner part start  */
.image_part img{
    height: 450px;
    width: 400px;
}
.banner_subtile {
    font-weight: 700;
    font-size: 45px;
    margin-top: 100px;
}
.banner_title {
    font-size: 85px;
    font-weight: 70px;
    margin-bottom: 20px;
}
.banner_description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner_top {
    display: flex;
    margin: 0px 200px
}
/* banner part end  */
/* main part start */
main {
    max-width: 1140px;
    margin: 0 auto;
}
/* main part end  */
/* about part start  */
.about_me {
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section_title {
   text-align: center;
   margin-bottom: 30px;
   font-weight: 700;
   font-size: 35px;
}
.section_description {
    text-align: center;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about_info_container {
    display: flex;
    justify-content: space-around;
}
.info_title {
    color: #757575;
    font-size: 20px;
    text-align: center;
}
.info_description {
    font-weight: 700;
    font-size: 20px;
    color: #757575;
}
/* banner part end  */
/* what i do part start  */
.what_i_do {
 margin-top: 130px;
}
.section_title {

}
.skills_container {
    display: flex;
    gap: 24px;
}
.skills {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills_title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 130px;
}
.skill_description{
    font-size: 16px;
    color: #757575;
}
.skill_title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
/* what i do part end  */
/* resume part start  */
.resume_content {
    display: flex;
    gap: 35px;
}
.resume_item .title {
    font-size: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume_item .sub_title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}
.resume_item .resumi_descriptiton {
    color: #757575;
    font-size: 18px;
}
.resume_item {
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume_btn {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 130px;
}
.resume_btn li {
    list-style-type: none;
}

/* resume part end  */
/* contact part start  */
.contact_part {
    background-color: #FFF8F3;
    padding-top: 140px;
}
.contact_main {
    display: flex;
    gap: 105px;
    justify-content: space-evenly;
}
input {
    background: #FFFFFF;
    border: none;
    height: 105px;
    width: 370px;
}
.padding {
    padding-left: 50px;
}
.contact_text {
    margin-bottom: 60px;
}
 .contact_description {
    width: 380px;
    margin: 0 auto;
 }
 .contact_item input, textarea {
    margin-bottom: 30px;
    padding: 18px 30px;
 }
 .contact_btn {
    height: 60px;
    width: 150px;
    text-align: left;

 }
 .icon_part{
    margin-top: 30px;
 }
 .contact_item li {
    list-style-type: none;
 }
 .contact_item a {
    text-decoration: none;
 }
/* contact part end  */

